[flake8]
max-line-length = 79
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    ./server,
    migrations/,
    .github/,
    node_modules/
ignore = E501, W391
per-file-ignores =
    __init__.py:F401

